:root {
    --color-accent: 0, 118, 255;
    --color-text: 25, 18, 19;
    --color-background: 238, 240, 241;
    --color-main-background: 255, 255, 255;
    --opacity-link-underline: 0.15;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: 84, 199, 252;
        --color-text: 255, 255, 255;
        --color-background: 17, 17, 17;
        --color-main-background: 42, 42, 42;
        --opacity-link-underline: 0.2;
    }
}

* , * :before, * :after {
    box-sizing: border-box; /* Padding and border will be inside of the box */
    font-kerning: normal; /* Font kerning information stored in the font must be applied */
}

::selection {
    background-color: rgba(var(--color-accent), 0.2);
    text-shadow: none;
}

html {
    height: 100%; /* For a sticky footer */
    font-size: 1.4em;
    background-color: rgb(var(--color-background));
}

@media (max-width: 600px) {
    html {
        font-size: 1.15em;
    }
}

body {
    display: flex; /* For a sticky footer */
    flex-direction: column; /* For a sticky footer */
    height: 100%; /* For a sticky footer */
    align-items: center;
    margin: 0 20px;
    font-family: "Avenir Next", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; /* Make the text look a little less chunky */
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; /* Enables kerning and optional ligatures */
    /*font-feature-settings: 'onum' 1;*/ /* Use oldstyle figures */
    color: rgb(var(--color-text));
}

@media (prefers-color-scheme: dark) {
    body {
        color: rgba(var(--color-text), 0.8);
    }
}

a {
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(var(--color-text), var(--opacity-link-underline)) 50%, rgba(var(--color-text), var(--opacity-link-underline)) 50%);
    background-position: 0 87%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    text-shadow: -1px -1px rgb(var(--color-background)), -1px 1px rgb(var(--color-background)), 1px -1px rgb(var(--color-background)), 1px 1px rgb(var(--color-background)); /* Skip descenders when underlining */
    color: inherit;
}

a:hover {
    color: rgb(var(--color-accent));
    background-image: linear-gradient(to bottom, rgba(var(--color-accent), var(--opacity-link-underline)) 50%, rgba(var(--color-accent), var(--opacity-link-underline)) 50%);
}


/* Navigation
   ========== */
   
nav {
    padding: 70px 0 20px 0;
    font-size: 13px;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 600px) {
    nav {
        padding-top: 48px;
    }
}

nav a {
    position: relative;
}

nav .current {
    background-image: none;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    nav .current {
        font-weight: 800;
    }
}

nav img {
    position: relative;
    top: 27px;
}


/* Content
   ======= */

main {
    flex: 1 0 auto; /* For a sticky footer */
    /* Center content vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

body:not(#words) main, #words main > article {
    padding: 62px 62px 68px 62px;
    background-color: rgba(var(--color-main-background));
    border-radius: 13px;
}

@media (max-width: 600px) {
    body:not(#words) main, #words main > article {
        padding-left: 32px;
        padding-right: 32px;
    }
}

main a {
    text-shadow: -1px -1px rgb(var(--color-main-background)), -1px 1px rgb(var(--color-main-background)), 1px -1px rgb(var(--color-main-background)), 1px 1px rgb(var(--color-main-background)); /* Skip descenders when underlining */
}

header > time:first-child {
    display: block;
    margin-top: -0.5em;
}

body:not(#words) article {
    margin: 0 auto;
}

sup {
    line-height: 0px;
    font-size: 0.6em;
}

sup a, sup a:hover {
    text-shadow: none;
    background-image: none;
}

code {
	font-family: monospace;
	background: rgba(var(--color-text), 0.03);
	padding: 2px 4px;
	border: 1px solid rgba(var(--color-text), 0.1);
	border-radius: 5px;
}

strong {
    font-weight: 600;
}

header {
    text-align: center;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 0.67em 0;
}

h2, h3, h4, h5, h6 {
    font-size: 1.2em;
    margin-top: 1.5em;
}

hr {
    text-align: center;
    border: none;
}

hr:after {
    content: "…";
    vertical-align: super;
}

blockquote {
    position: relative;
    font-size: 0.85em;
    color: rgba(var(--color-text), .6);
    margin-left: 0;
    padding-left: 40px;
}

blockquote::before {
    content: "“";
    position: absolute;
    left: 0;
    top: -23px;
    font-size: 60px;
    font-weight: 500;
    opacity: 0.3;
}

article h1 {
    margin-bottom: 0;
}

.constrained {
    max-width: 760px;
    width: 100%;
}

article img {
	width: 100%;
}

.external-link-arrow {
    display: inline-block;
    position: relative;
    left: 3px;
    font-size: 0.7em;
    vertical-align: text-top;
    transform: rotate(-45deg);
}

time {
    font-size: 15px;
    font-variant-caps: all-small-caps;
    color: rgba(var(--color-text), .5);
}

time a, time a:hover, h1 > a, h1 > a:hover, h2 > a, h2 > a:hover {
    background-image: none;
}

time span {
    color: rgb(var(--color-accent));
    font-weight: 500;
    vertical-align: text-bottom;
}

.footnotes {
	font-size: 15px;
	color: rgba(var(--color-text), .5);
	margin-top: 48px;
    padding-top: 48px;
    border-top: 1px solid rgba(var(--color-text), 0.05);
}

.footnotes li {
	padding-bottom: 0.75em;
}


/* Words
   ======= */
   
#words h1 {
    margin: 0;
    font-size: 1.5em;
}

#words article {
    margin-bottom: 20px;
}

#words article:last-child {
    margin-bottom: 0;
}

#words article > div {
    width: -moz-fit-content;
    width: fit-content;
    margin:  0 auto;
}

.read-more {
    font-size: 15px;
    color: rgb(var(--color-accent));
}

.read-more, .read-more:hover {
    background-image: none;
}

.reversefootnote, .reversefootnote:hover {
    background-image: none;
}


/* Footer
   ====== */
footer {
    padding: 52px 0 48px;
    flex-shrink: 0; /* For a sticky footer */
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

footer a, footer a:hover {
    background-image: none;
}


/* 404
   === */

#four-oh-four main {
    text-align: center;
}

#four-oh-four h1 {
    margin-bottom: 0;
}

#four-oh-four main p {
    margin-top: 0;
}


/* Résumé
   ====== */

#resume h2 {
    text-align: center;
}


/* Work
   ==== */

#work main p {
    text-align: center;
    opacity: 0.5;
}